div.content{
    background-color: rgb(69, 189, 179);
    
    height: 150px;
    width: 150px;
    border: 5px solid black;
    float: left;
    margin: 20px;

}
div#first{
    background-color: yellowgreen;
}

div#second{
    background-color: green;
}

div#third{
    background-color: gray;
}

div#fourth{
    background-color: pink;
}

div#fifth{
    background-color: rgb(69, 189, 179);

}
div#sixth{
    background-color: chartreuse;

}
